.content {
    display: flex;
    flex-direction: column;
}

.sub-content {
    margin-top: 1rem;
}

.content p {
    font-size: 1rem;
    text-indent: 1.25rem;
}

.sub-content li {
    list-style: none;
}
