.btn {
    border: none;
    border-radius: .8rem;
    padding: .5rem 1.2rem;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    box-shadow: 0 0 0.6rem hsla(0, 0%, 0%, 0.15);
    margin-top: .8rem;
    color: white;
    background-color: darkgrey;
}

.btn:hover {
    background-color: #bbbbbb;
}

#scrollToTop {
    display: none;
    position: fixed;
    bottom: 0;
    right: 2%;
    z-index: 99;
    border: none;
    outline: none;
    background-color: darkgrey;
    color: black;
    cursor: pointer;
    padding: 1rem;
    border-radius: .25rem;
    font-size: 1rem;
    margin-bottom: 1rem;
}

#scrollToTop:hover {
    background-color: firebrick;
    color: white;
}

#changePageStyleBtn {
    border: none;
    border-radius: .25rem;
    padding: .5rem 1.2rem;
    font-size: 1.2rem;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    background-color: darkgrey;
    font-weight: 300;
}

#changePageStyleBtn:hover {
    background-color: firebrick;
    color: white;
}
